*{
	margin:0; padding:0; 
	font-family:"微软雅黑"; 
	font-size:14px; 
	list-style:none; 
	text-decoration:none;
}
body{
	background-image:url(../images/blog_background.jpg);
	background-size: 100%;
	position:relative;
	background-repeat:no-repeat;
}
#wrap{
	width:100%;
	margin:0 auto;
}
#header{
	width：100%;
	height:30px;
	color:white;
	padding:10px;
}
#name{
	vertical-align: middle;
	margin:0 20px;
	float:left;
}
#contact{
	display:inline-block;
	height:100%;
	float:right;
}
#contact li{
	display:inline-block;
	height:100%;
	margin-right:10px;
	color:white;
	font-size:12px;
	font-style:italic;
}
#contact .copy_right{
	color:white;
	font-size:5px;
}
#project{
	width:100%;
	height:300px;
	margin:50px auto;
}
#project td{
	text-align:center;
	width:100px;
}
#project td a {
	font-size:20px;
	color:white;
	font-family:"Times New Roman";
	font-style:oblique;
}
#project td{
	border-radius: 3px;
}
#project .proj1{
	background:rgba(168,216,185,0.5); 
}
#project .proj2{
	background:rgba(106,76,56,0.5); 
}
#project .proj3{
	background:rgba(240,94,28,0.5); 
}
.project_name:hover{
	opacity:1;
}
#footer{
	width:100%;
	height:30px;
	color:#eee;
	text-align:center;
	font-size:12px;
}
