*{margin:0; padding:0; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; font-size:14px; list-style:none; }
#wrap{margin:200px auto; width:90%;}
#header{border: solid #555 1px; border-bottom:none; width:100%; overflow:hidden}
#mainbody{width:100%; overflow:hidden}
#footer{border: solid #555 1px; border-top:none; width:100%;}
#personal_info{border: solid 1px #555; width: 39.3%; float: left;}
#other_info{border: solid 1px #555; border-left:none;width: 60.25%; float: right;}
#header_info{margin: 0 auto; width: 40%;}
#header_name{width: 150px; font-size: 30px; height: 50px; text-align:center; line-height:50px; float: left; margin-top:10px}
#contact{float:right; margin-top: 10px;}
#contact li em{ font-size:20px;}
#contact li{line-height: 20px;}
#photo{margin:0 auto; margin-top: 20px; display:block; border-radius: 10px}
#introduction{margin:0 auto; margin-top: 20px; width: 50%}
#image_processing{text-align:center; line-height:50px;}
#image_processing a{text-decoration:none; color:black;}
#image_processing a em{font-size:20px;}