@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;list-style:none;font-size:16px}

#whole{
	margin:200px auto}
h1{display:block;
height:30px;
line-height:30px;
margin:20px auto;
font-size:30px;
text-align:center}

li{text-align:center;
color:black;
line-height:20px}

a{text-decoration:none;}


